venv_shapenet/
__pycache__/
*.pyc
outputs/model_final.pth
outputs/model_v8.pth
outputs/output.obj
# *.pth
.ipynb_checkpoints/
src/data/ShapeNetRendering/
src/data/ShapeNetVox32/
src/data/ShapeNetRendering.tgz